*.autosave
build/
build_qt/
bin/
lisp/
msg_gen/
/*/cfg/cpp/
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*/build.make
*.so
*.cfgc
*.pyc
.metadata/
qtcreator-build/
*.bag
*.bak
*~
*.aux
*.cbp
